.topNavContainer {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    position: fixed;
}

.title {
    color: #70566D;
    display: inline-block;
    margin-left: 5px;
    font-size: 36px;
    vertical-align: middle;
}

.logo {
    display: inline-block;
}

h1.title {
    font-size: 32px;
}

.leftNav {
    background-color: #fff;
    display: inline-block;
    height: 100%;
    width: 15%;
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 0;
    color: #70566D;
    padding-top: 20px;
}

.leftNav h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
}

.menuItem {
    padding: 10px 40px;
    /* width: 100%; */
}

.menuItem a {
    font-size: 1.2em;
    margin-top:15px;
}

.menuItem:hover {
    background-color: #DDDDDD;
}