.container {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    /* position: fixed; */
  }

.title {
    color: #42658a;
    display: inline-block;
    margin-left: 5px;
    font-size: 36px;
    vertical-align: middle;
}

.logo {
    display: inline-block;
}

h1.title {
    font-size: 32px;
}

.leftNav {
    background-color: #fff;
    border: 2px solid cyan;
    display: inline-block;
    height: 100%;
    width: 20%;
    position: fixed;
    margin-top: -10px;
    left: 0;
    z-index: 0;
    color: #42658a;
    padding:35px 20px;
}